In [ ]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("WebTraffic_Q1_2025.csv")
df

,VisitDate,SessionDuration,PageViews,ReferralSource,DeviceType,Platform,BounceRate,Conversions
0,2025-03-17,140.78,3.0,Referral,Tablet,Windows,88.24,1
1,2025-01-03,903.04,3.0,Paid Search,Tablet,Windows,48.78,0
2,2025-02-25,395.02,5.0,Social Media,Mobile,macOS,51.13,0
3,2025-01-29,273.88,6.0,Referral,Desktop,macOS,60.36,0
4,2025-03-23,50.89,5.0,Organic Search,Mobile,Linux,88.83,1
...,...,...,...,...,...,...,...,...
595,2025-02-19,192.71,4.0,Organic Search,Mobile,Linux,58.28,0
596,2025-03-15,330.39,3.0,Social Media,Desktop,iOS,58.24,0
597,2025-01-14,56.74,6.0,Organic Search,Mobile,macOS,26.26,0
598,2025-01-14,64.07,4.0,Social Media,Mobile,macOS,49.26,0
599,2025-02-04,12.52,2.0,Direct,Desktop,iOS,79.73,0

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
df.columns

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [ ]:
df["Sales"] = df["Sales"].fillna(df["Sales"].mean())
df["Revenue"] = df["Revenue"].fillna(df["Revenue"].mean())

In [7]:
df.isnull().sum()

VisitDate           0
SessionDuration    12
PageViews           9
ReferralSource      0
DeviceType          0
Platform            0
BounceRate          0
Conversions         0
dtype: int64

In [8]:
df["VisitDate"] = pd.to_datetime(df["VisitDate"])
df

,VisitDate,SessionDuration,PageViews,ReferralSource,DeviceType,Platform,BounceRate,Conversions
0,2025-03-17,140.78,3.0,Referral,Tablet,Windows,88.24,1
1,2025-01-03,903.04,3.0,Paid Search,Tablet,Windows,48.78,0
2,2025-02-25,395.02,5.0,Social Media,Mobile,macOS,51.13,0
3,2025-01-29,273.88,6.0,Referral,Desktop,macOS,60.36,0
4,2025-03-23,50.89,5.0,Organic Search,Mobile,Linux,88.83,1
...,...,...,...,...,...,...,...,...
595,2025-02-19,192.71,4.0,Organic Search,Mobile,Linux,58.28,0
596,2025-03-15,330.39,3.0,Social Media,Desktop,iOS,58.24,0
597,2025-01-14,56.74,6.0,Organic Search,Mobile,macOS,26.26,0
598,2025-01-14,64.07,4.0,Social Media,Mobile,macOS,49.26,0
599,2025-02-04,12.52,2.0,Direct,Desktop,iOS,79.73,0

In [11]:
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year

KeyError: 'Date'

In [ ]:
df

In [ ]:
df.duplicated().sum() # 5 rows are duplicated hence remove
df.drop_duplicates(inplace=True) # now 500 rows from 505

In [ ]:
stats_summary = df[["Sales","Revenue","Quantity"]].describe()
stats_summary

In [ ]:
corr_matrix = df[["Sales","Revenue","Quantity"]].corr()
corr_matrix

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# plt.figure(figsize=(7,3))
sns.heatmap(corr_matrix, annot=True, cmap="coolwarm")
plt.title("Correlation Matrix")
plt.show()

In [ ]:
df.sample(3)

In [ ]:
top_5 = df.groupby(by="Product")["Revenue"].sum().nlargest(5)
top_5

In [ ]:
top_5.plot(kind="bar")
plt.title("Top 5 Products")
plt.xlabel('Product')
plt.ylabel('Revenue')
plt.show()

In [ ]:
sales_montly = df.groupby(by="Month")["Sales"].sum()
sales_montly

In [ ]:
sales_montly.plot(kind="line", marker="o")
plt.title('Monthly Sales Trend in Q1')
plt.xlabel('Month')
plt.ylabel('Sales')

In [ ]:
max = sales_montly.idxmax()
min = sales_montly.idxmin()

max

In [ ]:
region_revenue = df.groupby(by="Region")["Revenue"].sum()
region_revenue

In [ ]:
region_revenue.plot(kind="bar")
plt.title('Total Revenue per Region')
plt.xlabel('Region')
plt.ylabel('Revenue')
plt.show()

high_region = region_revenue.idxmax()
high_sales = region_revenue.max()
print(f'The region with the highest sales is {high_region} with a revenue of {high_sales}.')

In [ ]:
customer_data_sales= df.groupby('CustomerID')["Sales"].count()
customer_data_revenue = df.groupby('CustomerID')["Revenue"].mean()

In [ ]:
a = pd.DataFrame(customer_data_sales)
b = pd.DataFrame(customer_data_revenue)
new_data = pd.merge(a,b,on="CustomerID")
new_data